
<mat-card  >
  <h1>Profile</h1>
  <form *ngIf="merchant !== null" class="responsive" [formGroup]="checkoutForm">
    <h2>Personal information</h2>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>
          <mat-icon>face</mat-icon>Name
        </mat-label>
        <input name="name" type="text" matInput  formControlName="name"/>
      </mat-form-field>
      <mat-error *ngIf="checkoutForm.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
      <button fxFlexAlign="end" mat-raised-button color="primary" (click)="askForChangeValue('name')"><span>
        CHANGE
        <mat-icon [inline]="true">send</mat-icon>
      </span>
      </button>
    </div>
    <div fxLayout="column">
      <mat-form-field fxFlexAlign="start" appearance="fill">
        <mat-label>
          <mat-icon>call</mat-icon> Phone</mat-label>
        <input name="phone" type="text" matInput formControlName="phone"/>
      </mat-form-field>
      <mat-error *ngIf="checkoutForm.get('phone')?.invalid">{{getErrorMessage('phone')}}</mat-error>
      <button fxFlexAlign="end" mat-raised-button color="primary" (click)="askForChangeValue('phone')"><span>
        CHANGE
        <mat-icon [inline]="true">send</mat-icon>
      </span>
      </button>
    </div>
    <h2>Credentials</h2>
    <div fxLayout="column">
      <mat-form-field fxFlexAlign="start" appearance="fill">
        <mat-label>
          <mat-icon>email</mat-icon> Email</mat-label>
        <input name="email" type="text" matInput formControlName="email"/>
      </mat-form-field>
      <mat-error *ngIf="checkoutForm.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
      <button fxFlexAlign="end" mat-raised-button color="primary" (click)="askForChangeValue('email')"><span>
        CHANGE
        <mat-icon [inline]="true">send</mat-icon>
      </span>
      </button>
    </div>
    <div fxLayout="column">
      <mat-form-field fxFlexAlign="start" appearance="fill">
        <mat-label>
          <mat-icon>password</mat-icon> Password</mat-label>
        <input id="password" name="password" type="password" matInput formControlName="password"/>
        <mat-error *ngIf="checkoutForm.get('password')?.invalid">{{getErrorMessagePassword('password')}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlexAlign="start" appearance="fill">
        <mat-label>
          <mat-icon>password</mat-icon> New password</mat-label>
        <input id="newPassword" name="newPassword" type="password" matInput formControlName="newPassword"/>
        <mat-error *ngIf="checkoutForm.get('newPassword')?.invalid">{{getErrorMessagePassword('newPassword')}}</mat-error>
      </mat-form-field>
      <button fxFlexAlign="end" mat-raised-button color="primary" (click)="changePassword()"><span>
        CHANGE
        <mat-icon [inline]="true">send</mat-icon>
      </span>
      </button>
    </div>
    <div fxLayout="column" *ngIf="usersessionService.isAdmin()">
      <mat-form-field id="putMerchant-idRole" appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="idRole">
          <mat-option value="0">ADMINISTRATOR</mat-option>
          <mat-option value="1">MERCHANT</mat-option>
        </mat-select>
      </mat-form-field>
      <button  fxFlexAlign="end" mat-raised-button color="primary" (click)="askForChangeValue('idRole')"><span>
        CHANGE
        <mat-icon [inline]="true">send</mat-icon>
      </span>
      </button>
    </div>
    <h2>Related meetings</h2>
    <table class="meeting-table" mat-table [dataSource]="merchant.meetings.simplifiedList" aria-describedby="meeting table">
      <ng-container matColumnDef="matter">
        <th scope="col" mat-header-cell *matHeaderCellDef> Matter </th>
        <td mat-cell *matCellDef="let meeting" (click)="showData(meeting)"> {{meeting.matter}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th scope="col" mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let meeting" (click)="showData(meeting)"> {{meeting.date}} </td>
      </ng-container>
      <ng-container matColumnDef="merchants">
        <th scope="col" mat-header-cell *matHeaderCellDef> Merchants </th>
        <td mat-cell *matCellDef="let meeting" (click)="showData(meeting)"> {{meeting.merchants}} </td>
      </ng-container>
      <ng-container matColumnDef="clients">
        <th scope="col" mat-header-cell *matHeaderCellDef> Clients </th>
        <td mat-cell *matCellDef="let meeting" (click)="showData(meeting)"> {{meeting.clients}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</mat-card>
