<div class="main-div">
  <mat-card class="mat-card">
    <h3>Welcome</h3>
    <form fxLayout="column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input #email matInput placeholder="Username">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input #password type="password" matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button 
        type="submit" 
        color="primary" 
        (click)="postCredentials(email.value, password.value);"
        class="half-size">
        Login
      </button>
    </form>
  </mat-card>
</div>
