<h2>Are you sure to {{ action.toLowerCase() }} ?</h2>
<div class="field" *ngFor="let attribute of attributes | slice:0:last">
  <div class="field-header"><strong>{{ attribute.toUpperCase() }}</strong></div>
  <div class="field-value">{{ data[attribute] }}</div>
</div>
<div fxLayout="row" fxLayoutAlign="end">
  <button class="dialog-button" mat-raised-button type="button" color="warn" (click)="acceptAction()">{{ action }}</button>
  <button class="dialog-button" mat-raised-button type="button" color="primary" (click)="cancel()">Cancel</button>
</div>