<h2>Are you sure to {{ toLowerCase(action) }} with the following information?</h2>
<div class="field" *ngFor="let field of fields">
  <div class="field-header"><strong>{{ field.toUpperCase() }}</strong></div>
  <div class="field-value">{{ information[field] }}</div>
</div>
<div fxLayout="row" fxLayoutAlign="end">
  <button class="dialog-button" mat-raised-button type="button" color="warn" (click)="acceptAction()">{{ action }}</button>
  <button class="dialog-button" mat-raised-button type="button" color="primary" (click)="cancel()">Cancel</button>
</div>
