<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/merchants/overview"  >Users Information</a>
        <a mat-list-item routerLink="/merchants/add">Add new user</a>
        <a mat-list-item routerLink="/merchants/modify">Modify user information</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="blue-toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">group_work</mat-icon>
        </button>
        <span>PYMES Application</span>
      </mat-toolbar> 
      
    </mat-sidenav-content>
  </mat-sidenav-container>