<mat-sidenav-container *ngIf="isNotLoginPage()" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar id="toolbar" color="primary">
      <span class="center-text">Application</span>
    </mat-toolbar>
    <mat-nav-list>
      <a class="padding20" mat-list-item routerLink="/merchants" (click)="drawer.toggle()">
        <mat-icon class="padding5" aria-label="Side nav toggle icon">people_alt</mat-icon>Users
      </a>
      <a class="padding20" mat-list-item routerLink="/login" (click)="drawer.toggle(); exit()">
        <mat-icon class="padding5" aria-label="Side nav toggle icon">logout</mat-icon>Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button fxShown
      type="button"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span>PYMES Application</span>
    </mat-toolbar> 
    <app-page-container>
    </app-page-container>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- [opened]="(isHandset$ | async) === false" Para abrir y cerrar la barra a la hora del redimensionamiento--> 
<app-login-page *ngIf="!isNotLoginPage()"></app-login-page> 