@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.blue-toolbar{
  background-color: #00a6ff;
}



.padding5{
  padding: 5px;
}

.padding20{
  padding: 20px;
}

.center-text {
  margin-left: auto;
  margin-right: auto;
}

.snack-bar{
  min-width: 600px;
  max-width: 1000px;
}

