<mat-sidenav-container *ngIf="isNotLoginPage()" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="toolbar" color="primary">
      <span class="center-text"> Application</span>
    </mat-toolbar>
    <mat-nav-list>
      <a class="padding20" mat-list-item routerLink="/merchants">
        <mat-icon class="padding5" aria-label="Side nav toggle icon">people_alt</mat-icon>Users
      </a>
      <a class="padding20" mat-list-item routerLink="/merchants/add">
        <mat-icon class="padding5" aria-label="Side nav toggle icon">people_alt</mat-icon>Add new user</a>
      <a class="padding20" mat-list-item routerLink="/merchants/modify">
        <mat-icon class="padding5" aria-label="Side nav toggle icon">people_alt</mat-icon>Modify user information</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button fxHide.xs=true fxShown
      type="button"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span>PYMES Application</span>
    </mat-toolbar> 
    <div class="children">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Para que aparezca el login -->
<router-outlet *ngIf="!isNotLoginPage()"></router-outlet>