<form [formGroup]="checkoutForm" (ngSubmit)="postMerchant()">
  <div  fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" >
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input name="name" type="text" matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input name="phone" type="text" matInput formControlName="phone"/>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input name="email" type="text" matInput formControlName="email" placeholder="email@example.com"/> 
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input name="password" type="text" matInput formControlName="password"/>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" >
    <mat-label>Role</mat-label>
    <mat-select formControlName="idRole">
      <mat-option value="0">Admin</mat-option>
      <mat-option value="1">User</mat-option>
    </mat-select>
  </mat-form-field>
  <button fxFlexAlign="center" mat-raised-button type="submit" color="primary">Submit
    <mat-icon aria-label="Side nav toggle icon">person_add</mat-icon>
  </button>
</form>
<div [ngSwitch]="responseMessage">
  <span *ngSwitchCase="'posted'">New merchant created!</span>
  <span *ngSwitchCase="'already registered'">This email is already registered</span>
  <span *ngSwitchCase="'forbidden'">You are not allowed to do this operation</span>
</div>

